$site-blue: #0000FF;
$site-red: #FF0000;

$global-font-size: 16;

//GRID SETTINGS
$max-width: 1200px; //for rows
$gutter: 15px; //for col-*

$smallBreakPoint: 0;
$mediumBreakPoint: 640px;
$largeBreakPoint: 1024px;
$xlargeBreakPoint: 1480px;
